<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sid.androsid.ecodrive">
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application

        android:name=".UserClient"
        android:allowBackup="false"
        android:icon="@mipmap/ecodrive_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Directions.MapsActivity1"/>
        <activity android:name=".PieChart1"></activity>
        <activity android:name=".Logout"/>
        <activity android:name=".Chat.users"/>
        <activity android:name=".BottomNavigation.Main_BottomNav"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Points.AllUserPoints"></activity>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:label="@string/app_name" android:name=".RegistrationActivity"/>
        <activity android:name=".Chat.Chats" android:label="Chats" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key"/>

    </application>


</manifest>